pleskAPISchema/plesk_domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 1999-2020. Plesk International GmbH. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="plesk_common.xsd"/>
	<xs:simpleType name="domainName">
		<xs:annotation>
			<xs:documentation>Domain Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="domainLogin">
		<xs:annotation>
			<xs:documentation>Domain Login Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string">
			<xs:pattern value="[0-9a-zA-Z]{1}[\-a-zA-Z0-9_.]{0,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="domainHType">
		<xs:annotation>
			<xs:documentation>Domain Hosting Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string">
			<xs:enumeration value="vrt_hst"/>
			<xs:enumeration value="std_fwd"/>
			<xs:enumeration value="frm_fwd"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="webstatType">
		<xs:annotation>
			<xs:documentation>Web statistics type definition</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="awstats"/>
			<xs:enumeration value="webalizer"/>
			<xs:enumeration value="smarterstats"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="turnOffAction">
		<xs:annotation>
			<xs:documentation>Domain's turn off action</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string">
			<xs:enumeration value="disable"/>
			<xs:enumeration value="suspend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="domainDatasetType">
		<xs:annotation>
			<xs:documentation>Data to be operated</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="gen_info" type="NoneType" minOccurs="0"/>
			<xs:element name="hosting" type="NoneType" minOccurs="0"/>
			<xs:element name="hosting-basic" type="NoneType" minOccurs="0"/>
			<xs:element name="limits" type="NoneType" minOccurs="0"/>
			<xs:element name="stat" type="NoneType" minOccurs="0"/>
			<xs:element name="prefs" type="NoneType" minOccurs="0"/>
			<xs:element name="disk_usage" type="NoneType" minOccurs="0"/>
			<xs:element name="performance" minOccurs="0"/>
			<xs:element name="subscriptions" minOccurs="0"/>
			<xs:element name="permissions" minOccurs="0"/>
			<xs:element name="plan-items" minOccurs="0"/>
			<xs:element name="php-settings" minOccurs="0"/>
			<xs:element name="resource-usage" minOccurs="0"/>
            <xs:element name="mail" minOccurs="0"/>
			<xs:element name="aps-filter" minOccurs="0"/>
			<xs:element name="packages" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="setGenSetupType">
		<xs:annotation>
			<xs:documentation>Domain general setup info</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="11">
			<xs:element name="status" type="objectStatus" minOccurs="0"/>
			<xs:element name="name" type="domainName" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="owner-id" type="id_type" minOccurs="0"/>
				<xs:element name="owner-login" type="xs:string" minOccurs="0"/>
				<xs:element name="owner-guid" type="xs:string" minOccurs="0"/>
				<xs:element name="owner-external-id" type="xs:string" minOccurs="0"/>
			</xs:choice>
			<xs:element name="ip_address" type="ip_address" minOccurs="0"/>
			<xs:element name="guid" type="NoneType" minOccurs="0"/>
			<xs:element name="external-id" type="string" minOccurs="0"/>
			<xs:element name="admin-as-vendor" type="NoneType" minOccurs="0"/>
            <xs:element name="description" type="string" minOccurs="0"/>
            <xs:element name="admin-description" type="string" minOccurs="0"/>
            <xs:element name="reseller-description" type="string" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="domainGenInfoType">
		<xs:annotation>
			<xs:documentation>General domain information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cr_date" type="date"/>
			<xs:element name="name" type="domainName">
				<xs:annotation>
					<xs:documentation>Domain name to be displayed in UI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ascii-name" type="string"/>
			<xs:element name="status" type="objectStatus"/>
			<xs:element name="real_size" type="size" default="0"/>
			<xs:element name="owner-id" type="id_type" minOccurs="0"/>
			<xs:element name="owner-login" type="string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exist only for admins clients(admin)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dns_ip_address" type="ip_address" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Domain IP addresses in DNS A and AAAA records. Use it in case of unexisted domain hosting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="htype" type="domainHType"/>
			<xs:element name="guid" type="string"/>
			<xs:element name="vendor-guid" type="string"/>
			<xs:element name="external-id" type="string"/>
			<xs:element name="sb-site-uuid" type="string" minOccurs="0"/>
            <xs:element name="description" type="string" minOccurs="0"/>
            <xs:element name="admin-description" type="string" minOccurs="0"/>
            <xs:element name="reseller-description" type="string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainPrefs">
		<xs:annotation>
			<xs:documentation>Domain Preferences</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="www" type="boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>WWW-prefix to domain</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stat_ttl" type="statTtl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Delete traffic statistics older than,(mounts count), max 999999</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outgoing-messages-domain-limit" type="string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Domain outgoing messages (per hour)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icp-status" type="boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ICP status is true if the domain name is approved</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="icp-permit" type="string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ICP permit for the domain name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="domainLimits">
		<xs:annotation>
			<xs:documentation>Domain limits</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="overuse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="block"/>
						<xs:enumeration value="normal"/>
						<xs:enumeration value="notify"/>
						<xs:enumeration value="not_suspend"/>
						<xs:enumeration value="not_suspend_notify"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="limit" type="PleskLimitType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="all-to-zero" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainPhHostingSet">
		<xs:annotation>
			<xs:documentation>Domain Physical Hosting for 'set' operation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="property" type="PleskPhysHostingPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ip_address" type="ip_address" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainPhHostingGet">
		<xs:annotation>
			<xs:documentation>Domain Physical Hosting for 'get' operation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="property" type="PleskPhysHostingPropertyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainFFHostingBase">
		<xs:annotation>
			<xs:documentation>Domain Frame Forwarding Hosting</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dest_url" type="forwardingURL">
				<xs:annotation>
					<xs:documentation>Destination URL</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainSFHostingBase">
		<xs:annotation>
			<xs:documentation>Domain Standart Forwarding Hosting</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dest_url" type="forwardingURL">
				<xs:annotation>
					<xs:documentation>Destination URL</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="http_code" minOccurs="0" type="int">
                <xs:annotation>
                    <xs:documentation>Forwarding HTTP code</xs:documentation>
                </xs:annotation>
            </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="domainHostingAgentGet">
		<xs:annotation>
			<xs:documentation>Domain Hosting (Plesk Agent specific) for 'get' operation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="vrt_hst">
				<xs:annotation>
					<xs:documentation>Physical hosting</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
                        <xs:extension base="domainPhHostingGet">
						    <xs:sequence>
								<xs:element name="ip_address" type="ip_address" maxOccurs="2"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="std_fwd">
				<xs:annotation>
					<xs:documentation>Standard forwarding</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="domainSFHostingBase">
							<xs:sequence>
								<xs:element name="ip_address" type="ip_address" maxOccurs="2"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="frm_fwd">
				<xs:annotation>
					<xs:documentation>Frame forwarding</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="domainFFHostingBase">
							<xs:sequence>
								<xs:element name="ip_address" type="ip_address" maxOccurs="2"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="none">
				<xs:annotation>
					<xs:documentation>No hosting</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
    <xs:complexType name="domainHostingAgentSet">
        <xs:annotation>
            <xs:documentation>Domain Hosting (Plesk Agent specific) for 'set' operation</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="vrt_hst" type="domainPhHostingSet">
                <xs:annotation>
                    <xs:documentation>Physical hosting</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="std_fwd">
                <xs:annotation>
                    <xs:documentation>Standard forwarding</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="domainSFHostingBase">
                            <xs:sequence>
                                <xs:element name="ip_address" type="ip_address" minOccurs="0" maxOccurs="2"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="frm_fwd">
                <xs:annotation>
                    <xs:documentation>Frame forwarding</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="domainFFHostingBase">
                            <xs:sequence>
                                <xs:element name="ip_address" type="ip_address" minOccurs="0" maxOccurs="2"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="none">
                <xs:annotation>
                    <xs:documentation>No hosting</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="domainStat">
		<xs:annotation>
			<xs:documentation>Domain statistics</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="traffic" type="size"/>
			<xs:element name="subdom" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Subdomains</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wu" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Web Users</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="box" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Mail Boxes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="redir" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Mail Redirects</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mg" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Mail Groups</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resp" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Mail responses</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maillists" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Maillists</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="db" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>DataBases</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mssql_db" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>MsSQL DataBases</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="traffic_prevday" type="size">
				<xs:annotation>
					<xs:documentation>Total traffic for prev.day ( in bytes)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="domains" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Amount of domains</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sites" type="unsignedInt">
				<xs:annotation>
					<xs:documentation>Amount of sites</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="domainPerms">
		<xs:annotation>
			<xs:documentation>Domain-level user permissions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="permission" type="PleskPermissionType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="revoke-all" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trafficType">
		<xs:sequence>
			<xs:element name="date" type="date"/>
			<xs:element name="http_in" type="long"/>
			<xs:element name="http_out" type="long"/>
			<xs:element name="ftp_in" type="long"/>
			<xs:element name="ftp_out" type="long"/>
			<xs:element name="smtp_in" type="long"/>
			<xs:element name="smtp_out" type="long"/>
			<xs:element name="pop3_imap_in" type="long"/>
			<xs:element name="pop3_imap_out" type="long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="webStat2">
		<xs:choice>
			<xs:element name="awstats"/>
			<xs:sequence>
				<xs:element name="webalizer"/>
				<xs:element name="protected" type="xs:boolean"/>
			</xs:sequence>
			<xs:element name="none"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DomainPerformanceType">
		<xs:sequence>
			<xs:element name="bandwidth" type="double" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum network use (KB/S); If value is equal -1 this parameter will be dosabled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="max_connections" type="int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Connections limited to If value is equal -1 this parameter will be dosabled</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PleskPhysHostingPropertyType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="value" type="string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LogRotationType">
		<xs:choice>
			<xs:element name="on">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="log-condition" type="ConditionType">
							<xs:annotation>
								<xs:documentation>Log rotation condition</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="log-max-num-files" type="int" minOccurs="0"/>
						<xs:element name="log-compress" type="boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Compress log files</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="log-email" type="string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="off" type="NoneType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConditionType">
		<xs:choice>
			<xs:element name="log-bysize" type="int"/>
			<xs:element name="log-bytime">
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="Daily"/>
						<xs:enumeration value="Weekly"/>
						<xs:enumeration value="Monthly"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="resourceUsage">
		<xs:annotation>
			<xs:documentation>Resourse usage</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resource" type="resourceUsageType" maxOccurs="unbounded"/>
            <xs:element name="counter" type="resourceUsageType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resourceUsageType">
		<xs:sequence>
			<xs:element name="name"/>
			<xs:element name="value"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
