pleskAPISchema/plesk_mailname.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 1999-2020. Plesk International GmbH. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="plesk_common.xsd"/>
	<xs:complexType name="mailnameType">
		<xs:annotation>
			<xs:documentation>Plesk's mailname user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="id_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Database identifier of the user (optional)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="string">
				<xs:annotation>
					<xs:documentation>Name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cp_access" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Access to the control panel settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
						<xs:element name="access">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="locale" type="string" minOccurs="0"/>
									<xs:element name="skin_id" type="int" minOccurs="0"/>
									<xs:element name="multiply_login" type="boolean" minOccurs="0"/>
									<xs:element name="disable_lock_screen" type="boolean" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="mailbox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>postbox settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="true"/>
						<xs:element name="quota" type="xs:long" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailbox quota in bytes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="usage" type="int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="redirect" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailname redirect settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false"/>
						<xs:element name="address" type="string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Email address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="mailgroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailgroup of this mailname (redirects)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false"/>
						<xs:element name="address" type="string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Email address of mailgroup member</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="autoresponders" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Autoresponders for the given mailname</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
						<xs:element name="autoresponder" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
									<xs:element name="keystr" type="xs:string" minOccurs="0"/>
									<xs:element name="key_where" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="subj"/>
												<xs:enumeration value="no"/>
												<xs:enumeration value="body"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="subject" type="xs:string" minOccurs="0"/>
									<xs:element name="reply_to" type="xs:string" minOccurs="0"/>
									<xs:element name="content_type" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="text/html"/>
												<xs:enumeration value="text/plain"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="charset" type="xs:string" minOccurs="0"/>
									<xs:element name="text" type="xs:string" minOccurs="0"/>
									<xs:element name="ans_freq" type="xs:int" minOccurs="0"/>
									<xs:element name="mem_limit" type="xs:int" minOccurs="0"/>
									<xs:element name="attachment" type="string" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="forward" type="xs:string" minOccurs="0"/>
									<xs:element name="end_date" type="date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="repository" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="file" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="content" type="base64" nillable="true" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="password" type="xs:string" minOccurs="0"/>
			<xs:element name="password_type" type="passwdType" minOccurs="0"/>
			<xs:element name="antivir" type="Antivir" minOccurs="0"/>
			<xs:element name="permissions" type="MailUserPermission" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Antivir">
		<xs:restriction base="string">
			<xs:enumeration value="off"/>
			<xs:enumeration value="inout"/>
			<xs:enumeration value="in"/>
			<xs:enumeration value="out"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MailPreferences">
		<xs:choice>
			<xs:element name="none"/>
			<xs:sequence>
				<xs:element name="nonexistent-user" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="bounce" type="string">
								<xs:annotation>
									<xs:documentation>Bounce with message </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="forward" type="string">
								<xs:annotation>
									<xs:documentation> Forward to address</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="reject"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="webmail" type="string" minOccurs="0"/>
				<xs:element name="spam-protect-sign" type="boolean" minOccurs="0"/>
				<xs:element name="greylisting" type="boolean" minOccurs="0"/>
                <xs:element name="mailservice" type="boolean" minOccurs="0"/>
				<!-- Unix only -->
				<xs:element name="ip_address" type="ip_address" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="mail-provider" type="MailProvider" minOccurs="0"/>
				<xs:element name="webmail-certificate" type="string" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MailProvider">
		<xs:choice>
			<xs:element name="local"/>
			<xs:element name="aps">
				<xs:complexType>
					<xs:all>
						<xs:element name="package-uid" type="string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MailUserPermission">
		<xs:sequence>
			<xs:element name="permission" type="PleskPermissionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailnameAddType">
		<xs:annotation>
			<xs:documentation>Plesk's mailname user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="string">
				<xs:annotation>
					<xs:documentation>Name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="cp-access" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Login to control panel as user</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="mailbox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>postbox settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="true"/>
						<xs:element name="quota" type="xs:long" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailbox quota in bytes</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forwarding" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailname forwarding settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false"/>
						<xs:element name="address" type="string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Email address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="autoresponder" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
						<xs:element name="subject" type="xs:string" minOccurs="0"/>
						<xs:element name="content_type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="text/html"/>
									<xs:enumeration value="text/plain"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="charset" type="xs:string" minOccurs="0"/>
						<xs:element name="text" type="xs:string" minOccurs="0"/>
						<xs:element name="attachment" type="autoRespAttach" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="forward" type="xs:string" minOccurs="0"/>
						<xs:element name="end_date" type="date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="password" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="value" type="xs:string"/>
						<xs:element name="type" type="passwdType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="antivir" type="Antivir" minOccurs="0"/>
            <xs:element name="outgoing-messages-mbox-limit" type="string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailnameUpdateType">
		<xs:annotation>
			<xs:documentation>Plesk's mailname user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="id_type" minOccurs="0"/>
			<xs:element name="name" type="string">
				<xs:annotation>
					<xs:documentation>Name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="cp-access" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Login to control panel as user</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="mailbox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>postbox settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="true" minOccurs="0"/>
						<xs:element name="quota" type="xs:long" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailbox quota in bytes</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forwarding" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailname forwarding settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false" minOccurs="0"/>
						<xs:element name="address" type="string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Email address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="autoresponder" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
						<xs:element name="subject" type="xs:string" minOccurs="0"/>
						<xs:element name="content_type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="text/html"/>
									<xs:enumeration value="text/plain"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="charset" type="xs:string" minOccurs="0"/>
						<xs:element name="text" type="xs:string" minOccurs="0"/>
						<xs:element name="attachment" type="autoRespAttach" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="forward" type="xs:string" minOccurs="0"/>
						<xs:element name="end_date" type="date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="password">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
							<xs:element name="type" type="passwdType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="user-guid" type="string"/>
			</xs:choice>
			<xs:element name="antivir" type="Antivir" minOccurs="0"/>
            <xs:element name="outgoing-messages-mbox-limit"  type="string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailnameUpdateAddType">
		<xs:annotation>
			<xs:documentation>Plesk's mailname user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="string">
				<xs:annotation>
					<xs:documentation>Name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element name="cp-access" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Login to control panel as user</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="forwarding" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailname forwarding settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false" minOccurs="0"/>
						<xs:element name="address" type="string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Email address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="autoresponder" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
						<xs:element name="subject" type="xs:string" minOccurs="0"/>
						<xs:element name="content_type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="text/html"/>
									<xs:enumeration value="text/plain"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="charset" type="xs:string" minOccurs="0"/>
						<xs:element name="text" type="xs:string" minOccurs="0"/>
						<xs:element name="attachment" type="autoRespAttach" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="forward" type="xs:string" minOccurs="0"/>
						<xs:element name="end_date" type="date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="autoRespAttach">
		<xs:sequence>
			<xs:element name="tmp-name" type="string" minOccurs="0"/>
			<xs:element name="file-name" type="string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailnameGetInfoType">
		<xs:annotation>
			<xs:documentation>Plesk's mailname user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="id_type" minOccurs="0"/>
			<xs:element name="name" type="string">
				<xs:annotation>
					<xs:documentation>Name of the user</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailbox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>postbox settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="true" minOccurs="0"/>
						<xs:element name="quota" type="xs:long" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailbox quota in bytes</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="usage" type="int" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forwarding" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mailname forwarding settings</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="boolean" default="false" minOccurs="0"/>
						<xs:element name="address" type="string" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Email address</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="autoresponder" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="enabled" type="xs:boolean" default="false" minOccurs="0"/>
						<xs:element name="subject" type="xs:string" minOccurs="0"/>
						<xs:element name="content_type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="text/html"/>
									<xs:enumeration value="text/plain"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="charset" type="xs:string" minOccurs="0"/>
						<xs:element name="text" type="xs:string" minOccurs="0"/>
						<xs:element name="attachment" type="autoRespAttach" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="forward" type="xs:string" minOccurs="0"/>
						<xs:element name="end_date" type="date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="password">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" type="xs:string" minOccurs="0"/>
							<xs:element name="type" type="passwdType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="user-guid" type="string"/>
			</xs:choice>
			<xs:element name="antivir" type="Antivir" minOccurs="0"/>
            <xs:element name="outgoing-messages-mbox-limit" type="string" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
