pleskAPISchema/plesk_secretkeys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 1999-2020. Plesk International GmbH. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="plesk_common.xsd"/>
	<xs:complexType name="SecretKeyInfo">
		<xs:sequence>
			<xs:element name="key" type="string"/>
			<xs:element name="ip_address" type="string"/>
			<xs:element name="description" type="string" nillable="true"/>
			<xs:element name="login" type="string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
